// Source https://github.com/gatsbyjs/gatsby/pull/27615#issuecomment-845682575
{
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead", "edge 18"]
        }
      }
    ]
  ]
}
