---
import { Picture } from 'astro:assets'
import ImageFigcaption from '../ImageFigcaption.astro'
import { getImage } from '../utils/getImage'
import type { ImageSingleVerticalType } from './keystatic.ImageSingleVertical.config'

type Props = ImageSingleVerticalType
const { src, alt, caption, imageConfig } = Astro.props

const image = getImage(src)
const width = imageConfig.discriminant
const position = 'value' in imageConfig ? imageConfig.value : undefined
---

<div
  class:list={[
    position === 'center' && 'justify-center',
    position === 'right' && 'justify-end',
    'my-8 flex w-full',
    'not-prose',
  ]}
>
  <figure class:list={[width === 'half' && 'md:w-1/2', 'not-prose w-full rounded-sm']}>
    <Picture
      class="aspect-3/4 w-full overflow-hidden rounded-sm object-cover"
      pictureAttributes={{ class: 'not-prose' }}
      src={image}
      alt={alt || ''}
      loading="lazy"
      width={width === 'half' ? 960 / 2 : 960}
      formats={['jpg', 'avif']}
      densities={[1.5, 2]}
    />
    <ImageFigcaption>{caption}</ImageFigcaption>
  </figure>
</div>
