---
import { Picture } from 'astro:assets'
import { getImage } from '../utils/getImage'
import type { ImageSingleSquare } from './keystatic.ImageSingleSquare.config'

type Props = ImageSingleSquare
const { src, alt, caption, imageConfig } = Astro.props

const image = getImage(src)
const width = imageConfig.discriminant
const position = 'value' in imageConfig ? imageConfig.value : undefined
---

<div
  class:list={[
    position === 'center' && 'justify-center',
    position === 'right' && 'justify-end',
    'my-8 flex w-full',
    'not-prose',
  ]}
>
  <figure class:list={[width === 'half' ? 'w-full md:w-1/2' : 'w-full']}>
    <div class="aspect-square">
      <!-- We might want object-cover here, but that will cut pictures off. -->
      <Picture
        class="h-full w-full overflow-hidden object-contain"
        pictureAttributes={{ class: 'not-prose w-full' }}
        src={image}
        alt={alt || ''}
        loading="lazy"
        width={width === 'half' ? 960 / 2 : 960}
        densities={[1.5, 2]}
        formats={['jpg', 'avif']}
      />
    </div>
    {caption && <figcaption class="mt-2 text-xs text-gray-500 md:text-sm">{caption}</figcaption>}
  </figure>
</div>
