---
import { clsx } from 'clsx'

type Props = {
  questionLabel: string
  answersLength: number
  children: React.ReactNode
}

const heightClasses: Record<`l${number}`, string> = {
  l1: 'h-[220px]',
  l2: 'h-[220px]',
  l3: 'h-[220px]',
  l4: 'h-[290px]',
  l5: 'h-[360px]',
  l6: 'h-[400px]',
  l7: 'h-[550px]',
  l8: 'h-[550px]',
}

const { questionLabel, answersLength } = Astro.props
---

<div class="rounded-sm border pt-2 pb-3.5">
  <p class="my-3 border-b px-3.5 pb-2 font-bold">{questionLabel}</p>

  <div class={clsx(heightClasses[`l${answersLength}`] || 'h-[650px]', 'px-3.5')}>
    <slot />
  </div>
</div>
