---
import { COLORS, COLORSCLASSES } from '@config/styles'
import { mdxComponentsAstro } from '@shared/cms/components/mdxComponentsAstro.astro'
import Section from '@shared/layouts/Section.astro'
import { getCollection, getEntry, render } from 'astro:content'
import { clsx } from 'clsx'

const homepage = await getEntry('homepage', 'index')
if (homepage === undefined) return Astro.redirect('/404')

const homepageAfterMilestones = await getEntry('homepage', 'bodyaftermilestones')
if (homepageAfterMilestones === undefined) return Astro.redirect('/404')
const { Content: ContentAfterMilestones } = await render(homepageAfterMilestones)

// See https://github.com/withastro/docs/pull/8364/files#diff-a6fd5674a02c61d6110497ce6010118e4e9c6cfb50e3b5a9168faee52f77348dR483-R492
const homepageMilestones = await getCollection('homepageMilestones')
const milestones = []
for (const milestone of homepageMilestones) {
  const { Content } = await milestone.render()
  milestones.push({
    ...milestone.data,
    Content: Content,
  })
}
const sortedMilestones = milestones.sort((a, b) => a.position - b.position)
const lastMilestoneDone = sortedMilestones.filter((m) => m.status !== 'comingUp').length - 1
---

<Section prose>
  <h2>{homepage.data.titleMilestones}</h2>
  {
    sortedMilestones.map(({ status, title, Content }, i) => {
      const commingUp = status === 'comingUp'
      return (
        <article class="group relative pl-14 text-balance hyphens-auto">
          <header class="not-prose">
            <div class={commingUp ? 'text-gray-900' : COLORSCLASSES.milestoneHeadline}>
              <div
                class={clsx(
                  'absolute top-0 bottom-0 left-4 w-1 border-l-2 group-last:hidden',
                  commingUp || i === lastMilestoneDone ? 'border-dashed' : '',
                )}
                style={{ borderColor: commingUp ? '#9CA3AF' : COLORS.milestoneDone }}
                aria-hidden="true"
              />
              <div
                class="absolute left-0 size-9 rounded-full"
                style={{ backgroundColor: commingUp ? '#9CA3AF' : COLORS.milestoneDone }}
                aria-hidden="true"
              />
              <p class="pt-0.5">{title}</p>
            </div>
          </header>
          <div class={clsx('inherit prose-p:my-0 pb-10')}>
            <Content components={mdxComponentsAstro} />
          </div>
        </article>
      )
    })
  }

  <ContentAfterMilestones components={mdxComponentsAstro} />
</Section>
