---
import { mdxComponentsAstro } from '@shared/cms/components/mdxComponentsAstro.astro'
import Section from '@shared/layouts/Section.astro'
import type { Segmentdetail } from './RoutespageRoutesegment.astro'

type Props = { detail: Segmentdetail }
const { detail } = Astro.props
const { Content } = await detail.render()
---

<Section prose>
  <div class="flex gap-6 py-5">
    <span
      class="flex h-10 w-10 flex-none items-center justify-center rounded-full border bg-white pt-1 text-lg font-extrabold text-black shadow-lg"
      aria-hidden="true"
    >
      {detail.data.position}
    </span>
    <div>
      <header id={detail.slug} class="scroll-m-8">
        <h3 class="text-lg font-medium text-gray-900">{detail.data.title}</h3>
      </header>
      <article>
        <Content components={mdxComponentsAstro} />
      </article>
    </div>
  </div>
</Section>
