---
import { Section } from '@shared/layouts/Section'
import { Link } from '@shared/links/Link'
import { markdownProseClasses } from '@shared/text/proseClasses'
import { getCollection, type InferEntrySchema } from 'astro:content'
import Faqs from './faqs/Faqs.astro'

type Props = {
  filter: NonNullable<InferEntrySchema<'faqs'>['highlight']>[number]
}
const { filter } = Astro.props

const faqsCollection = await getCollection('faqs', (faqEntry) =>
  faqEntry.data.highlight?.includes(filter),
)
---

{
  faqsCollection.length > 0 && (
    <Section>
      <header class={markdownProseClasses}>
        <h2 class="text-dark-gray mt-16 mb-4 text-2xl leading-normal font-extrabold md:text-3xl md:leading-normal">
          Häufig gestellte Fragen
        </h2>
      </header>

      <Faqs faqs={faqsCollection} />

      <Link button href="/faq" className="mt-8">
        Mehr unter FAQs
      </Link>
    </Section>
  )
}
