---
import { LINKCLASSES } from '@config/styles'
import { clsx } from 'clsx'

const { label, href } = Astro.props
---

<p>
  <a class={clsx(LINKCLASSES.button, 'no-underline!')} href={href}>
    {label}
  </a>
</p>
