---
import { Section } from '@components/Layout/Section'
import { P } from '@components/Text'
---

<Section>
  <P>
    Direkt – schnell – sicher: Lange zusammenhängende Strecken zwischen
    wichtigen Pendlerzielen, möglichst wenig Kreuzungen, die zum Bremsen oder
    gar Absteigen zwingen, mit gutem Belag und breit genug, dass man sicher
    überholen kann – so sollen sie aussehen, diese attraktiven Radrouten, die
    insbesondere Pendlerinnen und Pendler zum klimafreundlichen und gesunden
    Umstieg aufs Rad animieren sollen.
  </P>

  <P>
    Der Radschnellweg RS 8 verbindet die Städte Ludwigsburg, Remseck und
    Waiblingen. Auf diesen Seiten erhalten Sie Informationen zu Anforderungen,
    Planungsstand und Beteiligungsmöglichkeiten dieses Gemeinschaftsprojekts des
    Rems-Murr-Kreises mit dem Landkreis Ludwigsburg, der Stadt Ludwigsburg, der
    Stadt Waiblingen und der Stadt Remseck am Neckar.
  </P>
</Section>
